@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

*,
::after,
::before {
  background-color: inherit;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --border-radius: 0.25rem;
  --background-color: #fff;
  --background-color-2: #ddd;
  --text-color: #222;
  --text-color-2: #444;
  --font-family: "Inter", sans-serif;
  --font-family-2: "JetBrains Mono", monospace;
  --font-size-2xl: 2rem;
  --font-size-xl: 1.5rem;
  --font-size-l: 1.15rem;
  --font-size-s: 0.875rem;
  --line-height-s: 1.15;
  --border-color: #ddd;
  --border-color-2: #bbb;
  --card-background-color: #04a;
  --card-background-color-2: #bbb;
  --transition: 250ms ease-out;
}

html {
  font-size: 18px;
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.h1 {
  font-size: var(--font-size-2xl);
  font-weight: 700;
  line-height: var(--line-height-s);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.h2 {
  font-size: var(--font-size-xl);
  font-weight: bold;
  line-height: var(--line-height-s);
}

.h3 {
  font-family: monospace;
  font-size: var(--font-size-l);
  font-weight: bold;
  line-height: var(--line-height-s);
}

.form__group {
  margin-bottom: 1rem;
}

.label {
  color: var(--text-color-2);
  display: block;
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  margin-bottom: 0.25rem;
}

.input {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-family: var(--font-family-2);
  font-size: var(--font-size-s);
  padding: 0.5rem;
  transition: var(--transition);
  width: 100%;
}

input:focus {
  border: 1px solid var(--border-color-2);
  box-shadow: none;
  outline: none;
}

#results {
  background-color: var(--background-color-2);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.card {
  background-color: var(--card-background-color);
  border-radius: var(--border-radius);
  color: var(--background-color);
  padding: 1rem;
}

.card__header {
  font-size: var(--font-size-s);
  font-weight: 700;
  line-height: var(--line-height-s);
  margin-bottom: 0.25rem;
}

.card__body {
  font-family: var(--font-family-2);
}

.card__footer {
  color: var(--text-color-2);
  font-size: var(--font-size-s);
  margin-top: 0.5rem;
}

.card--secondary {
  background-color: transparent;
  border: 1px solid var(--border-color-2);
  color: inherit;
}

.card--secondary .card__header,
.card--secondary .card__footer {
  color: var(--text-color-2);
}

.button {
  cursor: pointer;
  padding: 0.5rem 0;
  transition: var(--transition);
}

.button:hover {
  opacity: 0.875;
}

.button .material-icons {
  color: var(--background-color);
  font-size: 1rem;
}

.footer {
  background-color: var(--background-color-2);
  margin-top: 1rem;
  padding: 1rem 0;
}

.credits {
  font-size: var(--font-size-s);
}

@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
